.container {
    display: flex;
    flex-direction: column;
    margin: 23px 0;
    flex-wrap: wrap;

    &-filter {
        display: flex;
        justify-content: space-evenly;
        margin: 11px 0;

        &-elt {
            color: var(--color-primary);
            background-color: var(--color-secondary);
            border-radius: 38px;
            padding: 11px 15px;
            cursor: pointer;

            &.active {
                background-color: var(--color-third);
            }

            span {
                padding: 0 0 0 8px;
            }

            &:hover {
                background-color: var(--color-third);
            }
        }
    }

    &-project {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 15px 0;
        max-width: 900px;
        min-width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        align-items: center;

        &-filter {
            flex-wrap: wrap;
            width: 90%;
            
            &-elt {
                margin-bottom: 8px;
            }
        }

        &-project {
            max-width: 188px;
            min-width: auto;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        align-items: center;

        &-filter {
            flex-wrap: wrap;
            width: 90%;
            
            &-elt {
                margin-bottom: 8px;
            }
        }

    }
}