@for $i from 1 through 3 {
    .container-studies div:nth-child(#{$i}){
        animation-delay: $i * .4 + .8s ;
    }
}

@for $i from 1 through 3 {
    .skills div:nth-child(#{$i}) {
        animation-delay: 3.4 - $i * .4s;
    }
}

@keyframes timelineStudy {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes timelineBar {
    0% {
        transform: translateX(-570px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes timelinePoint {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes skillArea {
    0%{
        transform: translateX(-450px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    width: 750px;
    margin: auto;

    &-studies {
        display: flex;
        justify-content: space-between;

        &-study {
            background-color: var(--color-secondary);
            padding: 8px;
            width: 195px;
            box-sizing: border-box;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: var(--color-primary);
            opacity: 0;
            animation: timelineStudy 350ms linear forwards;

            h4 {
                font-size: 11px;
                margin: 0;
            }

            p {
                font-style: italic;
                margin: 0;
                font-size: 9px;
            }

            span {
                font-weight: bold;
                font-size: 9px;
            }
        }
    }
}

.timeline {
    width: 570px;
    margin: auto;
    position: relative;
    height: 38px;
    display: flex;
    align-items: center;
    overflow: hidden;

    &-bar {
        height: 4px;
        width: 100%;
        background-color: var(--color-secondary);
        margin: 15px 0;
        animation: timelineBar 1050ms 950ms linear forwards;
        opacity: 0;
    }

    &-point {
        height: 11px;
        width: 11px;
        border-radius: 50%;
        background-color: var(--color-secondary);
        position: absolute;
        top: 13px;
        opacity: 0;
    }
}

.firth {
    left: 0;
    animation: timelinePoint 350ms 800ms linear forwards;
}

.second {
    left: 285px;
    animation: timelinePoint 750ms 1200ms linear forwards;
}

.third {
    right: 0;
    animation: timelinePoint 1050ms 1600ms linear forwards;
}

.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-area {
        padding: 11px;
        width: 30%;
        opacity: 0;
        animation: skillArea 500ms linear forwards;

        &-box {
            border: 1px solid var(--color-secondary);

            &-title {
                display: flex;
                justify-content: space-between;

                h4 {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 19px;
                    color: var(--color-secondary);
                    margin: 0;
                    padding: 8px;
                }
            }

            &-content {
                display: none;

                &.isOpen {
                    display: block;
                    padding: 8px;
                    min-height: 71px;
                }

                &-item {
                    display: flex;
                    color: var(--color-fourth);
                    padding: 2px 0;

                    svg {
                        padding: 0 8px 0 0;
                    }
                }
            }
        }
    }
}

//même fonctionnement tablette et téléphone
@media only screen and (max-width: 992px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        width: auto;
        max-width: 263px;

        &-studies {
            flex-direction: column;
        }
    }

    .timeline {
        height: 278px;
        width: 11px;

        &-bar {
            height: 210px;
            width: 4px;
            margin: auto;
        }
    }

    .firth {
        top: 33px;
    }
    
    .second {
        top: 139px;
        left: 0;
    }
    
    .third {
        top: 242px;
        left: 0;
    }

    @for $i from 1 through 3 {
        .skills div:nth-child(#{$i}) {
            animation-delay: 2.3 + $i * .4s;
        }
    }
}

@media only screen and (max-width: 768px) {
    .skills {
        flex-direction: column;

        &-area {
            width: 90%;
        }
    }
}