@for $i from 1 through 3 {
    .container-studies div:nth-child(#{$i}){
        animation-delay: $i * .4 + .8s ;
    }
}

@for $i from 1 through 3 {
    .skills div:nth-child(#{$i}) {
        animation-delay: 3.4 - $i * .4s;
    }
}

@keyframes timelineStudy {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes timelineBar {
    0% {
        transform: translateX(-760px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes timelinePoint {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes skillArea {
    0%{
        transform: translateX(-600px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    width: 1000px;
    margin: auto;

    &-studies {
        display: flex;
        justify-content: space-between;

        &-study {
            background-color: var(--color-secondary);
            padding: 10px;
            width: 260px;
            box-sizing: border-box;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: var(--color-primary);
            opacity: 0;
            animation: timelineStudy 350ms linear forwards;

            h4 {
                font-size: 15px;
                margin: 0;
            }

            p {
                font-style: italic;
                margin: 0;
                font-size: 12px;
            }

            span {
                font-weight: bold;
                font-size: 12px;
            }
        }
    }
}

.timeline {
    width: 760px;
    margin: auto;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;

    &-bar {
        height: 5px;
        width: 100%;
        background-color: var(--color-secondary);
        margin: 20px 0;
        animation: timelineBar 1050ms 950ms linear forwards;
        opacity: 0;
    }

    &-point {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: var(--color-secondary);
        position: absolute;
        top: 17px;
        opacity: 0;
    }
}

.firth {
    left: 0;
    animation: timelinePoint 350ms 800ms linear forwards;
}

.second {
    left: 380px;
    animation: timelinePoint 750ms 1200ms linear forwards;
}

.third {
    right: 0;
    animation: timelinePoint 1050ms 1600ms linear forwards;
}

.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-area {
        padding: 15px;
        width: 30%;
        opacity: 0;
        animation: skillArea 500ms linear forwards;

        &-box {
            border: 1px solid var(--color-secondary);

            &-title {
                display: flex;
                justify-content: space-between;

                h4 {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 25px;
                    color: var(--color-secondary);
                    margin: 0;
                    padding: 10px;
                }
            }

            &-content {
                display: none;

                &.isOpen {
                    display: block;
                    padding: 10px;
                    min-height: 95px;
                }

                &-item {
                    display: flex;
                    color: var(--color-fourth);
                    padding: 3px 0;

                    svg {
                        padding: 0 10px 0 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        width: auto;

        &-studies {
            flex-direction: column;
        }
    }

    .timeline {
        height: 370px;
        width: 15px;

        &-bar {
            height: 280px;
            width: 5px;
            margin: auto;
        }
    }

    .firth {
        top: 44px;
    }
    
    .second {
        top: 185px;
        left: 0;
    }
    
    .third {
        top: 311px;
        left: 0;
    }

    @for $i from 1 through 3 {
        .skills div:nth-child(#{$i}) {
            animation-delay: 2.3 + $i * .4s;
        }
    }

    .skills {
        flex-direction: column;

        &-area {
            width: 90%;
        }
    }
}